@font-face {
  font-family: 'levipen';
  src: url('assets/levipen.ttf') format('truetype');
}


  
body {
  font-family: 'levipen', Arial, sans-serif;
    font-size: 30px;
  background-image: url(assets/Paper_Texture.png);
  background-size: cover;
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  filter: grayscale(100%);
  /*      border: 3px solid blue; */
}

img:hover {
  height: 400px;
  filter: grayscale(0%);
  /*   border: 1px solid red; */
}

p:hover {
  /*   transform: rotate(5deg); */
  letter-spacing: 1em;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  color: #555;
}

.word {
  position: absolute;
  font-size: 32px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

#exhuastion {
  top: 20%;
  left: 15%;
  transform: rotate(-5deg);
}

#sweetness {
  top: 40%;
  right: 20%;
  transform: rotate(5deg);
}

#silence {
  bottom: 30%;
  left: 30%;
}

#hugs {
  top: 70%;
  right: 35%;
}